#bar-placeholder {
	height: 70px;
}
#bar {
	position: fixed;

	top: 0px;
	left: 0px;
	right: 0px;

	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: stretch;

	padding: 10px;

	gap: 10px;
}
#name {
	background: linear-gradient(
		20deg,
		rgba(240, 250, 255, 0.7),
		rgba(230, 250, 255, 0.7) 90%
	);
	backdrop-filter: blur(20px);

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	min-width: fit-content;

	gap: 10px;

	padding: 5px 10px;

	font-size: 0.9em;

	border-radius: 10px;
	border: 1px solid rgba(250, 250, 250, 0.2);

	box-shadow: 
		-1px -1px 0px rgba(190, 207, 224, 0.2),
		1px 1px 0px rgba(200, 217, 254, 0.2),

		0px 0px 10px rgba(0, 0, 0, 0.05),
		-1px -1px 10px rgba(0, 0, 0, 0.05),
		1px 1px 10px rgba(255, 255, 255, 0.05);
}
#correct {
	background: linear-gradient(80deg, rgba(200, 255, 200, 0.7), rgba(100, 200, 250, 0.7) 150%);
	backdrop-filter: blur(20px);

	padding: 5px 10px;

	display: flex;
	gap: 5px;

	border-radius: 10px;

	/* border-radius: 10px; */
	border: 1px solid rgba(180, 230, 180, 0.4);

	box-shadow: 
		-1px -1px 0px rgba(190, 247, 224, 0.2),
		1px 1px 0px rgba(200, 257, 254, 0.2),

		0px 0px 10px rgba(0, 70, 0, 0.05),
		-1px -1px 10px rgba(0, 70, 0, 0.05),
		1px 1px 10px rgba(255, 255, 255, 0.05);
}
#status-indicator {
	background: linear-gradient(
		20deg,
		rgba(240, 250, 255, 0.7),
		rgba(230, 250, 255, 0.7) 90%
	);
	backdrop-filter: blur(20px);

	flex: 1;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	overflow: scroll;

	gap: 10px;

	padding: 10px;

	border-radius: 10px;
	border: 1px solid rgba(250, 250, 250, 0.2);

	box-shadow: 
		-1px -1px 0px rgba(190, 207, 224, 0.2),
		1px 1px 0px rgba(200, 217, 254, 0.2),

		0px 0px 10px rgba(0, 0, 0, 0.05),
		-1px -1px 10px rgba(0, 0, 0, 0.05),
		1px 1px 10px rgba(255, 255, 255, 0.05);
}
.status-indicator-element {
	width: 5px;
	height: 5px;

	flex-basis: 5px;
	flex-grow: 0;
	flex-shrink: 0;

	background: rgba(150, 180, 200, 0.5);

	border-radius: 50%;

	overflow: auto;

	transition-duration: 0.1s;

	&.active {
		background: rgba(150, 180, 200, 0);
		box-shadow: 0px 0px 0px 2px rgba(150, 200, 180, 0.5);
	}

	&.correct {
		background: rgba(100, 200, 130, 0.9);
	}
	&.almost {
		background: rgba(150, 180, 100, 0.9);
	}
}