#hints {
	height: 0px;

	z-index: 10000;
}
.hint {
	position: fixed;

	margin: 0px;

	top: 0px;
	left: 0px;
}

.hint-buddy {
	position: fixed;

	background: rgba(240, 250, 255, 0.7);
	backdrop-filter: blur(20px);

	font-family: "Space Grotesk", sans-serif;
	font-size: 0.9rem;

	border: none;
	display: inline-block;
	outline: none;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 10px;

	padding: 5px;

	border-radius: 5px;
	border: 1px solid rgba(250, 250, 250, 0.2);

	box-shadow: 
		-1px -1px 0px rgba(190, 207, 224, 0.2),
		1px 1px 0px rgba(200, 217, 254, 0.2),

		0px 0px 10px rgba(0, 0, 0, 0.05),
		-1px -1px 10px rgba(0, 0, 0, 0.05),
		1px 1px 10px rgba(255, 255, 255, 0.05),

		inset 0px 0px 10px rgba(255, 255, 255, 0.2);

	transition-duration: 0.1s;
}
.missing {
	background-color: #F00;
}
.extra {
	background-color: #0F0;
}
.swap {
	background-color: #00f;
}